<footer class="site-footer">
    <div class="container">
        <ul>
            <li><a class="footer-link" href="https://www.gitkraken.com/about">About</a></li>
            <li><a class="footer-link" href="https://www.gitkraken.com/contact">Contact</a></li>
            <li><a class="footer-link" href="https://support.gitkraken.com/" target="_blank" rel="noopener">Support</a>
            </li>
            <li><a class="footer-link" href="https://blog.axosoft.com/" target="_blank" rel="noopener">Blog</a></li>
            <li><a class="footer-link" href="https://www.gitkraken.com/careers">Careers</a></li>
            <li><a class="footer-link" href="https://www.gitkraken.com/privacy">Privacy</a></li>
        </ul>
        <ul>
            <li><a class="footer-link" href="https://www.axosoft.com/" target="_blank" rel="noopener">Axosoft</a></li>
            <li><a class="footer-link" href="https://support.gitkraken.com/release-notes/current" target="_blank"
                    rel="noopener">Release Notes</a></li>
            <li><a class="footer-link" href="https://www.gitkraken.com/learn-git">Educational Resources</a></li>
            <li><a class="footer-link" href="https://www.gitkraken.com/keif-gallery">Keif Gallery</a></li>
            <li><a class="footer-link" href="https://www.gitkraken.com/store">Store</a></li>
        </ul>
        <p class="site-footer-copyright">© 2019 Axosoft, LLC. &nbsp;Made with &nbsp;<img src="{{site.baseurl}}/assets/images/heart.svg" height="12px"/> &nbsp; by GitKraken ambassadors</p>
    </div>
</footer>
</body>

</html>