---
title: CSS stylesheet
---
@font-face {
    font-family: 'Nasalization Rg';
    src: url('{{site.baseurl}}/assets/fonts/nasalization-rg.ttf')  format('truetype');
  }
html {
    -webkit-font-smoothing: antialiased;
  }
body {
    line-height: 1;
    font-size: 106.25%;
    background-color: #141422;
    font-family: 'Open Sans', sans-serif;
    color: #d0d0d2;
    padding: 0;
    margin: 0;
}
blockquote, p {
    line-height: 1.7rem;
    margin-top: 1.7rem;
}
.menu-space {
    height: 70px;
    width: 100%;
}
.button {
    display: inline-block;
    font-size: .942666666666667rem;
    line-height: 1;
    padding: .7em 1.15em;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 3px;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
}

.button-basic {
    color: #d6dfdf;
    background-color: rgba(230, 84, 37, .8);
    border: 1px solid #e6542b;
}

.site-header {
    background-color: rgba(20, 20, 34, 0.9);
    display: table;
    width: 100%;
    vertical-align: middle;
    position: fixed;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    height: 70px;
    z-index: 500;
}

.header-logo {
    margin: 0.5em;
    background-image: url("{{site.baseurl}}/assets/images/logo-gk-h-light.svg");
    background-repeat: no-repeat;
    background-position: center center;
    width: 150px;
    color: #d8c13a;
    background-size: 150px 40px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
}

.site-header .header-logo span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.header-menu {
    padding-right: 2em;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    white-space: nowrap;
}

.header-menu ul {
    display: inline-block;
}

dl dd, dl dt, h4, h5, h6, ol li, ul li {
    display: inline-block;
    line-height: 1.7rem;
}

.header-menu li a {
    color: #f9efc1;
    padding: .25em .75em;
    text-decoration: none;
}

.header-menu li a:hover {
    color: #d8c13a;
}

.hero {
    padding-top: 70px;
    background-color: #0b161e;
    height: calc(100vh - 70px);
    min-height: 450px;
}

.hero-content {
    height: 400px;
}

.center {
    text-align: center;
}

h1 {
    font-family: 'Nasalization Rg';
    color: #fff;
    font-size: 3em;
    line-height: 5.1rem;
}
h2 {
    font-family: 'Nasalization Rg';
    color: #fff;
}
.icon-grid {
    width: auto;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icon-grid .flex-grid {
    display: flex;
    flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    justify-content: space-around;
    align-items: center;

}
.icon-grid .flex-grid .flex-item {
    padding: 2em;
    margin: auto;
    padding-top: .85rem!important;
    margin-top: .85rem!important;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1 100%;
    flex: 1 100%;
    -ms-flex: 1 10%;
}


.icon-grid .flex-grid .flex-item img {
    height: 150px;
    max-width: 100%;
    vertical-align: middle
}
.icon-grid .flex-grid .flex-item p{
    color: #eef2f2;
}
::-moz-selection{
    background-color:rgba(20,146,135,.5);
}
::selection{
    background-color:rgba(20,146,135,.5);
}
.site-footer {
    border-top: 3px solid #262633;
    font-size: .75rem;
    width: 100%;
}
.site-footer .container {
    padding-top: .85rem;
    padding-bottom: .85rem;
}
.site-footer ul {
    margin: 0;
    font-size: inherit;
    text-align: center;
}
.site-footer ul li{
    display: inline-block;
}
.container {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.footer-link{
    color: #f9efc1;
    display: inline-block;
    margin-left: .25em;
    margin-right: .25em;
    line-height: 1;
    padding: .5em .75em;
    border-bottom: 2px solid transparent;
    min-height: 1.5em;
}
dl a, ol a, p a, ul a {
    text-decoration: none;
    font-weight: 700;
}
dl a:hover, ol a:hover, p a:hover, ul a:hover {
    text-decoration: none;
    color: #d8c13a;
}
.site-footer-copyright {
    text-align: center;
    margin-top: 5px;
}
.m-0 {
    margin: 0 !important;
}