---
layout: default
---
{% assign ambassadors = site.ambassadors %}
<div class="menu-space">

</div>
<div>
<h1 class="center m-0">Our Ambassadors</h1>
<div id="mapid"  class="dark" style="height: 75vh; "></div>
</div>

<h2 class="center mt-5 mb-1">All of us</h2>
<div class="container">
<div class="d-inline-block w-100 center">
        {% for ambassador in ambassadors %}
            <div class="list-element">
                <a class="a-nodecoration" href="{{site.baseurl}}/{{ambassador.username}}">
                <div class="w-100"><img class="avatar" src="{{ ambassador.avatar }}"/></div>
                <div class="list-element-detail">
                    <div class="w-100 center"><h3 class="mb-0">{{ ambassador.shortname }}</h3></div>
                    <div class="w-100 center small element-detail-experience">
                          Full-Stack
                        </div>
                    <div class="w-100 center small">
                        {{ ambassador.city }} - {{ ambassador.country }}
                    </div>
                </div>
            </a>
            </div>
    {% endfor %}
</div>
</div>
<script>
var render = {
    "type": "AmbassadorsCollection",
    "features": [
        {% for ambassador in ambassadors %}

            {
            "type": "Feature",
            "geometry": {
                "type": "Point",
                "coordinates": [
                "{{ ambassador.position.longitude }}",
                "{{ ambassador.position.latitude }}"
                ]
                },
                "properties": {
                "username": "{{ ambassador.username }}",
                "avatar": "{{ ambassador.avatar }}",
                "shortname": "{{ ambassador.shortname }}"
                }
            }
            {% if forloop.last == false %},{% endif %}
        {% endfor %}
    ]
}
</script>